name: yolo_demo
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  ultralytics_yolo: any
  path_provider: ^2.1.2
  archive: ^3.4.10
  http: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/best_8n_float16.tflite
    - assets/classes.txt
    - assets/metadata.yaml
    - assets/logo.png
    - assets/header_image.png
    - assets/hi_logo.png
