absl-py==2.3.0
aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
babel==2.17.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
Brotli==1.0.9
bs4==0.0.2
cachetools==5.5.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.0
cryptography==45.0.5
cycler==0.12.1
dataclasses-json==0.5.14
dateparser==1.0.0
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
dnspython==2.7.0
docopt==0.6.2
ecdsa==0.19.1
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.115.14
fastjsonschema==2.21.1
flatbuffers==25.2.10
fonttools==4.58.5
gast==0.4.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-cloud-vision==3.10.2
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
grpcio==1.73.1
grpcio-status==1.71.2
gruut==2.1.1
gruut-ipa==0.10.1
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gruut_lang_it==2.0.1
gruut_lang_nl==2.0.2
gruut_lang_ru==2.0.1
gruut_lang_sv==2.0.1
gruut_lang_sw==2.0.1
gTTS==2.5.4
h11==0.16.0
h2==4.2.0
h5py==3.13.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
humanfriendly==10.0
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jsonlines==1.2.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
larynx==1.1.0
libclang==18.1.1
Markdown==3.8
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.4
matplotlib-inline==0.1.7
mistune==3.1.3
mkl-service==2.4.0
mkl_fft==1.3.11
mkl_random==1.2.8
motor==3.3.1
mpmath==1.3.0
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==2.8.8
num2words==0.5.14
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.19.2
opencv-python==4.7.0.72
opt_einsum==3.4.0
packaging==24.2
pandas==2.3.1
pandocfilters==1.5.1
parso==0.8.4
phonemes2ids==1.0.0
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.5.0
platformdirs==4.3.7
pooch==1.8.2
priority==2.0.0
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.2
pymongo==4.5.0
pyparsing==3.2.3
pyreadline3==3.5.4
PySocks==1.7.1
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
python-pidfile==3.0.0
pytz==2025.2
pywin32==311
PyYAML==6.0.2
pyzmq==27.0.0
Quart==0.15.1
Quart-CORS==0.5.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==0.26.0
rsa==4.9.1
scikit-learn==0.24.1
scipy==1.13.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
stack_data==0.6.3
starlette==0.46.2
swagger-ui-py==21.9.28
sympy==1.14.0
taskgroup==0.2.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
threadpoolctl==3.5.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
torch==1.13.1
torchvision==0.14.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
ultralytics==8.3.163
ultralytics-thop==2.0.14
uritemplate==4.2.0
urllib3==2.3.0
uvicorn==0.35.0
watchfiles==1.1.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
Werkzeug==2.2.3
win-inet-pton==1.1.0
wrapt==1.17.2
wsproto==1.2.0
yarg==0.1.9
zipp==3.23.0